$defaultTextSize: 16px;
$color-principal: #FFFFFF;
$primary-color: #0069A3;
$secundary-color: #F4D73B;
$primary-color-hover: #024c75;
$menu-color: black;
$primary_color_light: black;
$secundary-color-text: #0069A3;
$primary_color_text: #0090D0;
$color_text_w: #FFFFFF;
$color_text_b: black;