@import "../../scss/index.scss";

.sign-in{

    &__center{
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100vh;    
    }

    &__background{
        width: 480px;
        background-color: #ededede2;
        padding: 20px;
        border-radius: 5px;
    }

    &__left{
        &__logo{
            height: 50px;
            padding: 0 10px;
        }
    }
  
    button{
        color: $color-principal;
        &:focus,
        &:active{
            color: $secundary-color;
        }
    }
}

.layout-login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.root {
    background: url(../../assets/img/png/Reconociemiento.jpeg) no-repeat center center fixed;
    background-size: cover;   
}

.root2 {
    background-color: #00000053;
}