$primary-color: #0984E3; 

.button-container-sigin {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  
  .custom-button-sigin {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid #000;
    color: #000;
    background: transparent;
    z-index: 0;
  }
  .custom-button-sigin:hover:after {
    top: 0;
    left: 0;
  }
  .custom-button-sigin:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: #ffe566;
  }

  


  .ingresar-button-sigin {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #0069A3;
    color: #0069A3;
  }
  .ingresar-button-sigin:hover {
    color: #fff;
  }
  .ingresar-button-sigin:hover:after {
    width: 100%;
  }
  .ingresar-button-sigin:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #0069A3;
  }
}

.input-field-sigin {
  width: 250px !important; 
  border-color: #0090D0 !important;
  font-family: 'Fira Sans', sans-serif;
}

.label-text-sigin {
  font-family: 'Fira Sans';
}

.checkbox-container-sigin {
  .checkbox-text-sigin {
    font-family: 'Fira Sans';
  }
}
