@import "../../../scss/index.scss";

.menu-sider {
  position: absolute;
  left: 0;
  top: 28px;
  height: 100vh;
  background: $primary-color;
  color: #FFFFFF;

  .ant-menu-item-selected {
    background-color: #0069A3;
    color: #9CD04D;
  }
}

.navbar-text{
    font-family: 'Fira Sans';
}